Source: libxisf
Priority: optional
Maintainer: Dušan Poizl <nou@nouspiro.space>
Build-Depends: debhelper (>= 9),
               cdbs,
               cmake,
               qtbase5-dev
Standards-Version: 4.5.0
Section: libs
Homepage: https://gitea.nouspiro.space/nou/libXISF
Vcs-Git: https://gitea.nouspiro.space/nou/libXISF.git

Package: libxisf-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libxisf qtbase5-dev (= ${binary:Version}), ${misc:Depends}
Description: Library to load and save XISF images
 Native format of PixInsight astroprocessing suite

Package: libxisf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to load and save XISF images
 Native format of PixInsight astroprocessing suite
